h1 {padding-left: 600px; padding: right 300px; ;}


.carousel-item {margin-top: 200px; margin-left: 400px;margin-right: 400px; margin-bottom: 100px }
.carousel-item {margin-top: 200px; margin-left: 200px;margin-right: 300px; margin-bottom: 100px }
.carousel-item {margin-top: 200px; margin-left: 200px;margin-right: 300px; margin-bottom: 100px }



