h3 {color: burlywood;}
.dest {color: black;}
li {color: burlywood;}
p {color: burlywood;}




h1 { margin-top: 50px; margin-bottom: 30px; margin-left: 500px; margin-right: 500px; }

img {border-radius: 41px 41px 41px 41px;} 
img{margin-top: 20px; margin-left: 200px; margin-right: 200px;}
h1 {font-size: 50px;} 
p {background-color: rgb(2, 32, 34);}
p {display: inline-flex;}

#cuerpo {padding: 200px;
font-size: 30px;}

